.topbox{
    position: absolute;
    width: 300px;
    height: 550px;
    background: black;
    text-align: center;
    color: blue;
}


#display{
    width: 96%;
    height: 35%;
    background-color: black;
    color: white;
  }

.button{
    background-color:transparent;
    float: left;
    color: orangered;
    cursor: pointer;
    width: 35px; height: 35px;
    font-size: 35px;
    padding: 0;
    border: none;
    background: none;
}
.button2{
    background-color:transparent;
    float: left;
    color: limegreen;
    cursor: pointer;
    width: 35px; height: 35px;
    font-size: 35px;
    padding: 0;
    border: none;
    background: none;
}
.button3{
    background-color:transparent;
    float: left;
    color: white;
    cursor: pointer;
    width: 35px; height: 35px;
    font-size: 35px;
    padding: 0;
    border: none;
    background: none;
}
.button4{
    background-color:transparent;
    float: left;
    color: white;
    cursor: pointer;
    width: 35px; height: 35px;
    font-size: 35px;
    padding: 0;
    border: none;
    background: none;
}

.button5{
    background-color:transparent;
    float: left;
    color: limegreen;
    cursor: pointer;
    width: 17.5px; height: 17.5px;
    font-size: 17.5px;
    padding: 0;
    border: none;
    background: none;
}



.box1{
    background-color: black;
    width: 45px; height: 45px;
    margin: 10px;
float: left;
border-radius: 50%;
color: orange;
border-style: solid;
border-color: gray;
    
  
}

.box5{
    background-color: black;
    width: 22.5px; height: 22.5px;
    margin: 5px;
float: left;
border-radius: 50%;
color: limegreen;
border-style: solid;
border-color: gray;
}

.box2{
    background-color: black;
    width: 45px; height: 45px;
    margin: 10px;
float: left;
border-radius: 50%;
color: limegreen;
border-style: solid;
border-color: gray;

}
.box3{
    background-color: black;
    width: 45px; height: 45px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    color: limegreen;
    border-style: solid;
border-color: gray;
}
.box4{
    background-color: green;
    width: 45px; height: 45px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    color: limegreen;
    border-style: solid;
border-color: gray;
}

